<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anta&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>MyCinema</title>
  </head>
  <body>
    <header id="hero">
      <div class="hero-container">
        <div class="title">
          <h1 class="title-text">Welcome to MyCinema</h1>
          <h4 class="author">Cristian's Movies/Series Notes</h4>
        </div>
      </div>
      <form id="selector-form" action="/type" method="post">
        <button class="btn s-btn" type="submit" name="selector" value="movies">
          Movies
        </button>
        <button class="btn s-btn" type="submit" name="selector" value="series">
          Series
        </button>
      </form>
    </header>

    <main>
      <section id="top-list">
        <h2 class="sub-title">My Favourites</h2>
        <div class="container">
          <div class="card">
            <img
              src="https://m.media-amazon.com/images/M/MV5BMjUyNTA3MTAyM15BMl5BanBnXkFtZTgwOTEyMTkyMjE@._V1_SX300.jpg"
              alt="The Maze Runner"
            />
          </div>
          <div class="card">
            <img
              src="https://m.media-amazon.com/images/M/MV5BMjUyNTA3MTAyM15BMl5BanBnXkFtZTgwOTEyMTkyMjE@._V1_SX300.jpg"
              alt="The Maze Runner"
            />
          </div>
          <div class="card">
            <img
              src="https://m.media-amazon.com/images/M/MV5BMjUyNTA3MTAyM15BMl5BanBnXkFtZTgwOTEyMTkyMjE@._V1_SX300.jpg"
              alt="The Maze Runner"
            />
          </div>
          <div class="card">
            <img
              src="https://m.media-amazon.com/images/M/MV5BMjUyNTA3MTAyM15BMl5BanBnXkFtZTgwOTEyMTkyMjE@._V1_SX300.jpg"
              alt="The Maze Runner"
            />
          </div>
          <div class="card">
            <img
              src="https://m.media-amazon.com/images/M/MV5BMjUyNTA3MTAyM15BMl5BanBnXkFtZTgwOTEyMTkyMjE@._V1_SX300.jpg"
              alt="The Maze Runner"
            />
          </div>
        </div>
      </section>

      <section id="posts">
        <div class="post-container">
          <div class="post-heading">
            <h2 class="name">Movie Name</h2>
            <div class="btns-div">
              <button class="btn-action">
                <img class="icon" src="/assets/images/edit.png" alt="Edit">
              </button>
              <button class="btn-action">
                <img  class="icon" src="/assets/images/delete.png" alt="Delete">
              </button>
            </div>
          </div>
          <div class="post-info">
            <div class="poster">
              <img
                src="https://m.media-amazon.com/images/M/MV5BMjUyNTA3MTAyM15BMl5BanBnXkFtZTgwOTEyMTkyMjE@._V1_SX300.jpg"
                alt=""
              />
              <h3 class="score">⭐ My Score: 8/10 ⭐</h3>
            </div>
            <div class="content">
              <h4 class="info inline">Release Year: 2020</h4>
              <h4 class="info inline">Genre: Sci-Fi</h4>
              <h4 class="info inline">Country: USA</h4>
              <h4 class="info">Directors:</h4>
              <p class="text">Random Name, Another One, Test Director</p>
              <h4 class="info">Actors:</h4>
              <p class="text">Random Actor, Another One, Test Name</p>
              <h4 class="info">Description:</h4>
              <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
                earum voluptatum enim cupiditate beatae fugiat fugit temporibus
                quaerat sint illo assumenda sit fuga vero atque aliquid iste
                quae reiciendis voluptate necessitatibus, doloribus accusantium
                eligendi itaque aut possimus! Quae illo voluptates itaque nam
                perspiciatis quo optio possimus non, cupiditate, architecto
                velit.
              </p>
              <h4 class="info">My Review:</h4>
              <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                unde excepturi rem laudantium distinctio voluptates eos veniam
                nesciunt ipsum enim voluptatibus similique maxime, voluptas
                repudiandae ea minima dolores! Sapiente a maiores omnis
                voluptates molestias dolor doloremque inventore, accusamus vitae
                quos id earum, praesentium velit, hic natus saepe amet provident
                iusto.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="/public/js/script.js"></script>
  </body>
</html>
