:root {
  font-family: "Anta", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

html {
  height: 100%;
  background-color: rgb(29, 29, 29);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#hero {
  background-image: url(../assets/images/bg4.png);
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: azure;
  justify-content: center;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center;
}

.title {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.title-text {
  padding-bottom: 1rem;
  margin-left: 2.9rem;
  font-size: 3rem;
}

.author {
  font-size: 1.3rem;
  padding-left: 3rem;
  margin-top: 1rem;
}

#selector-form {
  display: flex;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
  width: 35%;
  justify-content: center;
}

.s-btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  /* -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)); */
}

.btn {
  font-family: "Anta", sans-serif;
}

input {
  font-family: "Anta", sans-serif;
}

textarea {
  font-family: "Anta", sans-serif;
  resize: none;
}

.s-btn:active {
  scale: 0.92;
}

.s-btn:hover {
  background: #021842;
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, #6da0d3df 60%);
  color: rgb(0, 0, 4);
}

#top-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.sub-title {
  margin-bottom: 4rem;
  color: azure;
  border-bottom: 3px solid azure;
}

.container {
  width: 90%;
  max-width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1.25rem;
  transition: all 400ms;
}

.card {
  flex: 3;
  height: 100%;
  transition: all 500ms;
  cursor: pointer;
}

.card > img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card:nth-child(odd) {
  translate: 0 -20px;
}
.card:nth-child(even) {
  translate: 0 20px;
}

.container:hover > .card:not(:hover) {
  filter: grayscale(100%);
}

.card:hover {
  flex: 5;
}

#showForm {
  width: 35%;
  height: 3rem;
  font-size: 1.3rem;
  background-color: #ffffff14;
  color: azure;
  border: 2px solid #414141;
  border-radius: 10px;
  transition: all 0.3s;
}

#showForm:hover {
  font-size: 1.4rem;
  cursor: pointer;
  background-color: #212121;
  border: 2px solid #1cb0ff;
  -webkit-box-shadow: -2px 4px 26px 0px rgba(28, 176, 255, 0.59);
  -moz-box-shadow: -2px 4px 26px 0px rgba(28, 176, 255, 0.59);
  box-shadow: -2px 4px 26px 0px rgba(28, 176, 255, 0.59);
}

#addPost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hiddenForm {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.form-container {
  width: 80%;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(120deg, #6da0d3df, #1cb0ff, #021842) border-box;
  border: 2px solid transparent;
  margin-top: 1.5rem;
  padding: 32px 24px;
  font-size: 0.8rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  border-radius: 0.8rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.heading {
  font-size: 1rem;
  font-weight: 600;
}

.form-input {
  color: azure;
  background: transparent;
  border: 1px solid #535353;
  border-radius: 5px;
  padding: 8px;
  outline: none;
  height: 2rem;
  font-size: 0.8rem;
}

.text-area {
  height: 7rem;
}

.submit-btn {
  border-radius: 5px;
  height: 2rem;
  width: 10rem;
  background: #ffffff14;
  color: azure;
  border: 2px solid #414141;
  transition: 0.5s;
  font-size: 0.8rem;
}

.submit-btn:hover {
  background: #212121;
  border: 2px solid #1cb0ff;
  font-size: 0.95rem;
  cursor: pointer;
  -webkit-box-shadow: -2px 4px 26px 0px rgba(28, 176, 255, 0.59);
  -moz-box-shadow: -2px 4px 26px 0px rgba(28, 176, 255, 0.59);
  box-shadow: -2px 4px 26px 0px rgba(28, 176, 255, 0.59);
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 5px;
  color: #535353;
  position: relative;
}

.form-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  pointer-events: none;
  transition: 0.5s;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
  top: -1rem;
  left: 0;
  background: #212121 padding-box;
  padding: 10px 0 0 0;
  color: azure;

  font-size: 0.8rem;
}

.form-group textarea:focus ~ label,
.form-group textarea:valid ~ label {
  top: -1rem;
  left: 0;
  background: #212121 padding-box;
  padding: 10px 0 0 0;
  color: azure;

  font-size: 0.8rem;
}

.inline {
  display: flex;
}

.cb {
  gap: 1rem;
}

.cb-text {
  align-self: center;
  font-size: 0.8rem;
}


.cb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.cb-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.4em;
  width: 1.4em;
  border: 2px solid #414141;
  border-radius: 5px;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.cb-container input:hover ~ .checkmark {
  border: 2px solid #0974f1;
}

.cb-container input:checked ~ .checkmark {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border: 2px solid #0974f1;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cb-container input:checked ~ .checkmark:after {
  display: block;
}

.cb-container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

#posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 80%;
  background-color: #404040;
  color: #f0ffff;
  border-radius: 10px;
  padding: 1rem;
  gap: 0.5rem;
  border: 1px solid #1cb0ff;
  -webkit-box-shadow: -2px 4px 26px 0px rgba(28, 176, 255, 0.59);
  -moz-box-shadow: -2px 4px 26px 0px rgba(28, 176, 255, 0.59);
  box-shadow: -2px 4px 26px 0px rgba(28, 176, 255, 0.59);
}

.post-heading {
  display: flex;
}

.line {
  align-self: center;
  height: 0.1rem;
  width: 98%;
  background-color: #1cb0ff;
  border: 1px solid #1cb0ff;
  border-radius: 5px;
  -webkit-box-shadow: -2px 4px 26px 0px #1cb0ff96;
  -moz-box-shadow: -2px 4px 26px 0px #1cb0ff96;
  box-shadow: -2px 4px 26px 0px #1cb0ff96;
  margin-bottom: 0.2rem;
}

.name {
  text-align: center;
  width: 70%;
  align-self: center;
}

.btns-div {
  width: 30%;
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}

.btn-action {
  height: 2rem;
  width: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: 150ms;
}

.icon:hover {
  height: 120%;
  width: 120%;
}

.post-info {
  display: flex;
  gap: 1rem;
}

.info {
  margin-top: 0.5rem;
}

.text {
  font-size: 0.9rem;
  color: lightgrey;
}

.poster > img {
  border-radius: 10px;
  margin-bottom: 1rem;
}

.score {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  height: 5rem;
  background-color: #121212;
  border-top: 1px solid #1cb0ff;
  color: azure;
}

.inline-icons {
  display: flex;
  width: fit-content;
  gap: 1rem;
}

.footer-icon {
  height: 2rem;
  width: 2rem;
}

.svg {
  height: 1.6rem;
  width: 1.6rem;
  transition: 0.3s;
}

.svg:hover {
  height: 1.8rem;
  width: 1.8rem;
}


@media (max-width: 1370px) {
  #hero {
    background-position: left;
  }
  #showForm {
    width: 55%;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 18px;
  }

  #hero {
    background-position: left;
  }

  .hero-container {
    width: 50%;
  }

  .title-text {
    font-size: 2.5rem;
    margin-left: 1rem;
  }

  .author {
    font-size: 1.2rem;
    padding-left: 1.2rem;
  }

  #selector-form {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .s-btn {
    margin-top: 1rem;
  }

  #showForm {
    width: 60%;
    height: 4rem;
  }

  .post-info {
    flex-direction: column;
  }

  .poster {
    align-self: center;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 16px;
  }

  .hero-container {
    width: 60%;
    align-items: center;
    padding-left: 2rem;
  }

  .title-text {
    font-size: 2rem;
    margin-left: 0;
  }

  .author {
    font-size: 1rem;
    padding-left: 0;
  }

  #hero {
    min-height: 50vh;
    background-position: left;
  }

  #selector-form {
    width: 45%;
    gap: 1.5rem;
  }
  .s-btn {
    margin-top: 1rem;
  }

  #showForm {
    width: 80%;
  }
}

